---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import FriendsIntro from '../components/FriendsIntro';
import VideoMessages from '../components/VideoMessages';
import WrittenMessages from '../components/WrittenMessages';

---

<Layout title="Friends' Messages - Ifeoma's Garden">
  <Navigation client:load />
  
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl md:text-5xl font-cursive text-center text-white mb-8">
      Friendship Pavilion
    </h1>
    
    <FriendsIntro client:load />
    <VideoMessages client:load />
    <WrittenMessages client:load />
  </main>
</Layout>